$light-blue: #55BBAC;

.category-title-container{
    padding: 1em 0;
    .category-title{
        color: $light-blue;
    }
}

@media (min-width: 600px){
    .category-title{
        margin: 0 1% 16px;
    }
}

@media (min-width: 900px){
    .category-title{
        margin: 0 1% 20px;
    }
}